
*,*::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 90vw;
  height: 90vh;
  margin: 40px auto;  
  border: solid #86bf41
  ;
  border-width: thin;
  overflow:hidden;
  display:block;
  box-sizing: border-box;
}

.image img{
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 300px;
  margin: auto;
  display: block;
}
.text h1{
  text-align: center;
  font-family: sans-serif;
  margin-bottom: 10px;
  color: #989897;
}
.text p{
  text-align: center;
  font-family: sans-serif;
  color: #989897;
}
.form{
  margin-top: 20px;
  text-align: center;
}
input[type=email] {
  padding: 10px;
  margin:10px 0; 
  border: 1px solid grey;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius:10px;
}
button{
    padding: 10px;
    margin:10px 0; 
    border: 0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;
    background-color: #86bf41;
}
.links{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.links a{
  padding: 0 20px;
  color: #86bf41;
  text-decoration: none;
}
@media screen and (min-width: 1400px) {
  .image img {
    max-width: 500px;
    max-height: 500px;
  }
}
@media screen and (min-width: 1600px) {
  .image img {
    max-width: 550px;
    max-height: 550px;
  }
}
@media screen and (min-width: 1900px) {
  .image img {
    max-width: 550px;
    max-height: 550px;
  }
}